@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Premier projet Asp.net Core MVC de</h2>
    <h3><a href="https://www.linkedin.com/in/thomas-vuille/" target="_blank">Thomas Vuille</a></h3>
    <img src="Images/asp.net-core-mvc.png" alt="Asp.net Core MVC" />
    <h4>et le <a href="https://github.com/newtom69/MonPremierProjetASPdotNetCore" target="_blank">Github</a> qui va avec</h4>
    <p>(c'est que le début hein !)</p>
</div>
