@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <p>Premier projet .net Core de
        <h3><a href="https://www.linkedin.com/in/thomas-vuille/" target="_blank">Thomas Vuille</a></h3>
    </p>

    <p>C'est que le début !</p>
</div>
